<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <div class="login">
        <h1>Boston House Price Prediction</h1>

        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="age" placeholder="Age" required="required"><br>
            <input type="text" name="sex" placeholder="Sex" required="required"><br>
            <input type="text" name="chest_pain_type" placeholder="Chest Pain Type" required="required"><br>
            <input type="text" name="resting_blood_pressure" placeholder="Resting Blood Pressure" required="required"><br>
            <input type="text" name="cholesterol" placeholder="Cholesterol" required="required"><br>
            <input type="text" name="fasting_blood_sugar" placeholder="Fasting Blood Sugar" required="required"><br>
            <input type="text" name="resting_electrocardiogram" placeholder="Resting Electrocardiogram" required="required"><br>
            <input type="text" name="max_heart_rate_achieved" placeholder="Maximum Heart Rate Achieved" required="required"><br>
            <input type="text" name="exercise_induced_angina" placeholder="Execrcise Induced Angina" required="required"><br>
            <input type="text" name="oldpeak" placeholder="Oldpeak" required="required"><br>
            <input type="text" name="st_slope" placeholder="ST Slope" required="required"><br>
            <button type="submit">Predict</button>
        </form>
    </div>
<br>
<br>
{{prediction_text}}
</body>
</html>